.footer {
    background-color: #2B303A;

    div{
        color: white;
        padding: 1.8em 0;
        width: 100vw;


        h5{
            font-size: 1.3em;
            font-weight: 400;
            letter-spacing: 2px;
        }
    }
}

